* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-image: url("img/grupoami.png");
    background-size: cover;
    background-position: center;
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

nav h1 {
    font-size: 24px;
    color: #fff;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.hero h2, p {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
    border-color:#ccc;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
}

.btn:hover {
    background-color: #ff6347;
}

.about, .products, .contact {
    padding: 50px 20px;
    text-align: center;
}

.about p {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
}

.products h2 {
    margin-bottom: 20px;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h3 {
    margin-top: 10px;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
}

.contact form input, .contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

@media (max-width: 480px) {
    header {
        height: 80vh;
    }

    .hero h2 {
        font-size: 24px;
    }

    .hero p {
        font-size: 16px;
    }

    nav h1 {
        font-size: 20px;
    }

    .product {
        width: 100%;
    }

    footer {
        font-size: 14px;
    }
}
